<!DOCTYPE html>
<html lang="en">
<head>
  <title>Toneryield</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<nav>
<form>
<input type="search" id="searchTerm">
</form>
<%= link_to 'Home', root_url %> <%= link_to 'Toners', toners_path %> <%= link_to 'Machines', machines_path %>
</nav>

<%= yield %>


</body>
</html>
